//  ** Main Variables ** //

// ! Colors ! //

$main_color : red;
$second_color : blue;
$third_color : green;

// ? Font Color ? //

$font_color_dark : black;
$font_color_medium : grey;
$font_color_light : white;




